<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.CalenderMapper">

        <resultMap id="calenderRM" type="Calender">
            <id property="calenderNo" column="CALENDER_NO" />
            <result property="calenderTitle" column="CALENDER_TITLE" />
            <result property="calenderMemo" column="CALENDER_MEMO" />
            <result property="calenderStart" column="CALENDER_START" />
            <result property="calenderEnd" column="CALENDER_END" />
        </resultMap>

        <select id="calenderList" resultMap="calenderRM">
            select * from calender
        </select>

    </mapper>